<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문단 컴포넌트</title>
    <link rel="stylesheet" href="../../mission-03.css" />
    <link rel="stylesheet" href="./../../../css/components.css" />
  </head>
  <body>
    <div class="component-container">
      <div class="p-wrapper">
        <p>영화, TV 프로그램을<br />무제한으로</p>
        <p>다양한 디바이스에서 시청하세요. 언제든 해지하실 수 있습니다.</p>
        <p>
          시청할 준비가 되셨나요? 멤버십을 등록하거나<br />재시작하려면 이메일
          주소를 입력하세요.
        </p>
      </div>
    </div>
  </body>
</html>
