@import url(./fontello.css);

body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #4e4e4e;

  /* bottom 부분에서 따옴 */
  width: 502px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.box {
  border: 1px solid #c4c4c4;
  text-align: center;
  position: relative;
}

.CardLinkWide {
  width: 502px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 20px 28px;
  margin-bottom: 16px;
}

.CardLinkWide .wide-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: 42px;
}

.CardLinkWide .wide-title h1 {
  line-height: 1;
}

.box p {
  margin: 0 auto;
  width: 200px;
}

.CardLinkWide p {
  margin-top: 13px;
}

.CardLinkNormal h1 {
  line-height: 1;
}

.CardLinkNormal p {
  margin-top: 10px;
  margin-bottom: 7px;
}

.CardLinkNormal {
  width: 243px;
  padding: 14px 0;
  font-size: 18px;
  height: 310px;
}

.purchase-btn {
  position: absolute;
  white-space: nowrap;
  left: 20px;
  bottom: 20px;
  width: 42px;
  height: 42px;
  border: none;
  color: #fff;
  background: url(<path-to-image>), lightgray 50% / contain no-repeat;
  cursor: pointer;
  transition: 100ms;
}

.purchase-btn:hover {
  width: 112px;
  background: #0074e9;
}

.purchase-btn:hover::before {
  content: "구매하기";
}