@import url(./reset.css);

body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #4e4e4e;
}
.box {
  border: 1px solid #c4c4c4;
  text-align: center;
}

.CardLinkWide {
  width: 502px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 20px 28px;
}

.CardLinkWide .wide-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 200px;
  padding-bottom: 42px;
}

.CardLinkWide .wide-title h1 {
  line-height: 1;
}

.CardLinkWide p {
  margin-top: 13px;
}

.CardLinkNormal {
  width: 243px;
  padding: 14px 0;
  font-size: 18px;
}

.bottom {
  margin-top: 16px;
  width: 502px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}