.component-container {
  margin: 10px;
}

.title-logo-wrapper {
  width: 5rem;
}

.title-logo-link img {
  width: 100%;
  height: 100%;
  line-height: 1;
}

@media (min-width: 768px) {
  .title-logo-wrapper {
    width: 140px;
    height: 38px;
  }
}