.component-container {
  margin: 10px;
}

.title-logo-link img {
  display: block;
  width: 5rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .title-logo-link img {
    width: 140px;
    height: 38px;
  }
}