.component-container {
  margin: 10px;
}

.title-logo-wrapper {
  width: 80px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

.title-logo-link a {
  width: 100%;
}

.title-logo-link img {
  width: 100%;
  height: 100%;
  line-height: 1;
}

@media (min-width: 768px) {
  .title-logo-wrapper {
    width: 140px;
    height: 38px;
  }
}