<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헤더 컴포넌트</title>
    <link rel="stylesheet" href="../../mission-03.css" />
  </head>
  <body>
    <div class="component-container">
      <div class="header-wrapper">
        <!-- 로고 영역 -->
        <div class="title-logo-wrapper">
          <a href="./../../mission-03.html" class="title-logo-link">
            <img src="../../images/Logo.svg" alt="Netflix"
          /></a>
        </div>
        <div class="header-right-wrapper">
          <!-- 셀렉터 영역 -->
          <div class="selector-wrapper">
            <img src="./../../images/global.svg" alt="" />
            <label for="selector" class="sr-only">언어 선택</label>
            <select name="select" id="selector">
              <option selected lang="ko" value="ko-KR">한국어</option>
              <option lang="en" value="en">English</option>
            </select>
          </div>
          <!-- 로그인 버튼 영역 -->
          <div class="login-button-wrapper">
            <a href="/" class="login-button">로그인</a>
          </div>
        </div>
      </div>
    </div>
    <p style="text-align: center">
      모바일용(max-width: 768px) max-width 768px<br />
      데스크톱용(min-width:768px) max-width 1280px
    </p>
  </body>
</html>
