<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>네비게이션 컴포넌트</title>
    <link rel="stylesheet" href="../../mission-03.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="component-container">
      <div class="navigation-wrapper">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">자주 묻는 질문</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">고객센터</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">계정</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">미디어 센터</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">투자 정보(IR)</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">입사 정보</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">Netflix 지원 디바이스</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">이용 약관</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">개인정보</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">쿠키 설정</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">회사 정보</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">문의하기</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">속도 테스트</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">법적 고지</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#">Netflix 오리지널</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
