@import './css/reset.css';
@import './css/fontello.css';
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  color: #fff;
}

/* 메인 전체 컨테이너 */

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* 메인 타이틀 영역 */
.main-title-wrapper {
  text-align: center;
  color: #FEFEFE;
  width: 187px;
  height: 105px;
  display: flex;
  flex-flow: column nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-title {
  font-size: 38px;
  line-height: 36px;
  font-weight: lighter;
  padding: 0 45px 0 44px;
  margin-bottom: 24px;
}

.main-title-wrapper p:nth-child(2) {
  font-size: 18px;
  line-height: 27px;
}

.main-title-wrapper p:nth-child(3) {
  font-size: 12px;
  line-height: 18px;
}

/* 로그인 폼 영역 */
.login-form {
  width: 311px;
}

.login-form fieldset {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: none;
}

.input-email-wrapper,
.input-pw-wrapper {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #FEFEFE;
}

.input-email-wrapper input[type="email"],
.input-pw-wrapper input[type="password"] {
  outline: none;
  background-color: transparent;
  border: none;
  width: 239px;
  color: #FEFEFE;
}

.input-email-wrapper input[type="email"]:focus + label,
.input-pw-wrapper input[type="password"]:focus + label {
  font-size: 13px;
  align-self: flex-start;
}

.input-email-wrapper label,
.input-pw-wrapper label {
  width: 4em;
  line-height: 18px;
  cursor: pointer;
}

/* 로그인, 회원가입 버튼 영역 */
.button-wrapper {
  
}

.button-wrapper button {
  background: transparent;
  color: #FEFEFE;
  border: 1px solid #FEFEFE;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.button-wrapper button:hover,
.button-wrapper button:focus {
  color: #24388D;
  background-color: #FEFEFE;
}


.icon-right-small {
  font-size: 20px;
  width: 20px;
}

/* 이메일 저장 영역 */
.email-save-checkbox-wrapper input[id="email-save-checkbox"] {
  display: none;
}

.email-save-checkbox-wrapper label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

.email-save-checkbox-wrapper label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.email-save-checkbox-wrapper input[id="email-save-checkbox"]:checked + label::before {
  background-image: url('./images/checked.png');
}

.email-save-checkbox-wrapper label::before {
  background-image: url('./images/un_check.png');
}



/* 모바일 미디어 쿼리 */
@media (max-width: 600px) {
  body {
    background-color: #aaa
    }

  .main-container {
    background: url(./images/mcoffeebg.png) no-repeat center center / cover;
    min-width: 375px;
  }

  .main-title-wrapper {
    margin: 100px 0 114px 0;
  }

  .login-form {
    margin-bottom: 50px;
    width: 311px;
  }

  .input-wrapper {
    width: 311px;
  }

  .input-email-wrapper,
  .input-pw-wrapper {
    width: 100%;
    height: 48px;
  }

  input[id="input-email"],
  input[id="input-pw"] {
    margin: 0 0 8px 0;
  }

  .input-email-wrapper label,
  .input-pw-wrapper label {
    margin: 0 0 8px 8px;
  }

  /* 로그인, 회원가입 버튼 영역 */
  .button-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 311px;
    height: 111px;
  }
  
  .button-wrapper button {
    padding: 13px 0;
    line-height: 1em;
  }

  .email-save-checkbox-wrapper {
    margin: 15px 0 133px 0;
  }

  .icon-right-small {
    position: absolute;
    top: 14px;
    right: 14px;
  }

}



/* 데스크톱 미디어 쿼리 */
@media (min-width: 600px) {
  body {
    background-color: yellow;
  }

  .main-container {
    background: url(./images/coffeebg.png) no-repeat center center / cover;
    min-width: 600px;
  }

  .main-title-wrapper {
    margin: 120px 0 100px 0;
  }

  .login-form {
    margin-bottom: 254px;
    width: 540px;
  }

  /* 로그인, 회원가입 버튼 영역 */
  .button-wrapper button {
    
  }
}