@import './css/reset.css';
@import './css/fontello.css';
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  color: #fff;
}

/* 메인 전체 컨테이너 */
.main-container {
  background: url(./images/coffeebg.png) no-repeat 0 0 / 100% auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* 메인 타이틀 영역 */
.main-title-wrapper {
  text-align: center;
  color: #FEFEFE;
}

.main-title {
  font-size: 38px;
}

.main-title-wrapper p:nth-child(2) {
  font-size: 18px;
}

.main-title-wrapper p:nth-child(3) {
  font-size: 12px;
}



.login-form {
}

@media (max-width: 600px) {
  body {
    background-color: pink;
  }
  .main-container {
    
  }
}

@media (min-width: 600px) {
  body {
    background-color: yellow;
  }
}