@import './reset.css';
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: #aaa;
  width: 1440px;
  margin: 0 auto;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

/* 헤더 영역 */
header {
  background: #FEFEFE;
  color: #24388D;
  padding: 0 350px;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* 헤더 타이틀 영역 */
.header-title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 18px 0;
}

.header-title a {
  line-height: 14px;
}

/* 헤더 네비게이션 영역 */
.header-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 14px 0;
}

.header-nav-list {
  width: 427px;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  white-space: nowrap;
}

.header-nav-list a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}

/* 메인 영역 */
main {
  height: 850px;
  padding: 0 614px;
  background: url(./images/coffeebg.png) no-repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main-title-wrapper {
  color: #FEFEFE;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  /* margin-bottom: 100px; */
}

/* 메인 타이틀 영역 */
.main-title {
  font-weight: 200;
  font-size: 36px;
  margin-bottom: 8px;
}

.main-title-wrapper p:nth-child(2) {
  font-size: 18px;
}

.main-title-wrapper p:nth-child(3) {
  font-size: 12px;
}

/* 메인 이메일 입력 영역 */
