<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>콜 컴포넌트</title>
    <link rel="stylesheet" href="../../../mission-03.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="component-container">
      <div class="call-wrapper">
        <p class="call-text">질문이 있으신가요?&nbsp;</p>
        <a href="tel: 00-308-321-0058" class="call-number">
          문의 전화: <span>00-308-321-0058</span></a
        >
      </div>
    </div>
    <p>
      모바일용(max-width: 768px) 339x60<br />데스크톱용(min-width: 768px)
      1280x30
    </p>
  </body>
</html>
