<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 버튼 컴포넌트</title>
    <link rel="stylesheet" href="../../../mission-03.css" />
  </head>
  <body>
    <div class="component-container">
      <div class="login-button-wrapper">
        <a href="/" class="login-button">로그인</a>
      </div>
    </div>
    <p>
      모바일용(max-width: 768px) 60x30<br />데스크톱용(min-width: 768px) 70x40
    </p>
  </body>
</html>
