@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import './css/reset.css';
@import './css/components.css';
@import './css/sr-only.css';

*:focus {
  border-radius: 2px;
  outline-color: #2EDE75;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url('./images/mbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: SpoqaHanSans;
}

main {
  min-height: 100%;
}

footer {
  height: 762px;
  border-top: 4px solid #2f2f2f;
}

@media (min-width: 768px) {
  body {
    background-image: url('./images/bg.png');
  }

  footer {
    height: 700px;
  }
}